.App {
  padding: 30px;
  display: flex;
  background-color: rgb(14, 30, 67);
  height: 100vh;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: 2px solid rgb(226, 217, 217);
  background-color: rgb(11, 129, 213);
  border-radius: 5px;
  padding: 15px;
  height: max-content;
}

.closeButton {
  margin: 0 0 0 5px;
  background-color: rgb(207, 84, 84);
  color: rgb(24, 84, 127);
  font-size: 12px;
  font-weight: 800;
  height: 20px;
  width: 20px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.closeButton:hover {
  transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 2px 0 #3730a3;
  background-color: rgb(144, 61, 61);
}
